* {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin-bottom: 5px;
}
p {
    margin-top: 5px;
    color: rgb(75,75,75);
    margin-bottom: 5px;
}
.checkbox {
    height: 50px !important;
    width: 50px !important;
    margin: 10px;
    margin-left: 0px;
}
.remove {
    width: 30px;
    height: 30px;
}
.form-check-input:checked {
    background-color: #32cd32  !important;
    border-color: #32cd32  !important;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}
.form-check-input:focus {
    border-color: #32cd32 !important;
    box-shadow: 0 0 0 0.25rem rgba(50, 205, 50, 0.25) !important; /* A subtle glow matching your color */
}
